*{
    box-sizing: border-box;
}

body{
    font-family: Snell Roundhand, cursive;
}

h1#header1{
    margin-bottom: 20px;
    text-align: center;
    font-family: Snell Roundhand, cursive;
}

h1#header2{
    float: left;
    text-align: left;
}

h3{
    font-family: Snell Roundhand, cursive;
    margin: 0px;
    width: 100px;
    position: relative;
    left: 48%;
}

p{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    clear: right;
    font-family: Snell Roundhand, cursive;
}

.section {
    background-color: gray;
    border: solid 1px black;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

.navbar-header button.navbar-toggle{
    border: 1px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -50px;
  }
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #030504;
    font-size: 1.8em;
    text-align: center;
  }
  #nav-list a:hover {
    background: rgba(122, 107, 128, 0.267);
  }

  



@media (min-width: 768px)  {
    .section{
        width: 96%;
    }
}

@media (min-width: 576px) and (max-width: 767px)  {
    .section{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (max-width: 575px)  {
    .section{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
    h3{
        left: 44%;
    }

    
}
